<section [ngClass]="baseClass">
  <article [ngClass]="baseClass + '__left'">
    <a
      [ngClass]="baseClass + '__left__link'"
      [title]="'home'"
      [routerLink]="['']"
    >
      <img
        [ngClass]="baseClass + '__left__link__img'"
        src="assets/img/back.png"
        alt="inicio"
      />
    </a>

    <h1 [ngClass]="baseClass + '__left__title'">
      {{
        province?.NOMBRE_PROVINCIA
          | uppercase
          | replace: { changeThis: "/", forThis: " " }
      }}
    </h1>
  </article>

  <article [ngClass]="baseClass + '__right'">
    <h2 [ngClass]="baseClass + '__right__title'">
      El tiempo para los principales municipios
    </h2>

    <div [ngClass]="baseClass + '__right__prediction'">
      <p [ngClass]="baseClass + '__right__prediction__title'">
        Predicción para hoy:
      </p>
      <p [ngClass]="baseClass + '__right__prediction__text'">
        {{ weatherDescription?.today }}
      </p>
      <p [ngClass]="baseClass + '__right__prediction__title'">
        Predicción para mañana:
      </p>
      <p [ngClass]="baseClass + '__right__prediction__text'">
        {{ weatherDescription?.tomorrow }}
      </p>
    </div>

    <div [ngClass]="baseClass + '__right__list'">
      <app-list [data]="dataList" [simpleHeader]="false"></app-list>
    </div>
  </article>
</section>

<app-loading *ngIf="!hideLoading" [visible]="loadingVisible"></app-loading>
