<section [ngClass]="baseClass">
  <article [ngClass]="baseClass + '__header'">
    <a
      [ngClass]="baseClass + '__header__link'"
      [title]="'home'"
      [routerLink]="['']"
    >
      <img
        [ngClass]="baseClass + '__header__link__img'"
        src="assets/img/back.png"
        alt="inicio"
      />
    </a>

    <h1 [ngClass]="baseClass + '__header__title'">
      {{
        (singleProvince$ | async)?.provincia?.NOMBRE_PROVINCIA
          | uppercase
          | replace: { changeThis: "/", forThis: " " }
      }}
    </h1>
  </article>

  <article [ngClass]="baseClass + '__content'">
    <h2 [ngClass]="baseClass + '__content__title'">
      El tiempo para los principales municipios
    </h2>

    <div [ngClass]="baseClass + '__content__prediction'">
      <p [ngClass]="baseClass + '__content__prediction__title'">
        Predicción para hoy:
      </p>
      <p [ngClass]="baseClass + '__content__prediction__text'">
        {{ (singleProvince$ | async)?.today?.p }}
      </p>
      <p [ngClass]="baseClass + '__content__prediction__title'">
        Predicción para mañana:
      </p>
      <p [ngClass]="baseClass + '__content__prediction__text'">
        {{ (singleProvince$ | async)?.tomorrow?.p }}
      </p>
    </div>

    <div [ngClass]="baseClass + '__content__list'">
      <app-list
        [data]="(singleProvince$ | async)?.ciudades"
        [simpleHeader]="false"
        [linkable]="false"
      ></app-list>
    </div>
  </article>
</section>
