@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

@import "/src/assets/scss/theme";

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-stroke: 1px transparent;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  outline: none;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: $text-color;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color;
}


/* ~/scrollbar.css */

/* Default (light) theme */
:root {
  --page-background: white;

  --scrollbar-track: transparent;
  --scrollbar-thumb: #5b608c;
  --scrollbar-thumb-hover: #203163  ;

  --scrollbar-width: 8px;
}
/* Default (light) theme */


/* Firefox */
* {
  scrollbar-width: thick; /* none | auto  */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}
/* Firefox */

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: var(--scrollbar-width); /* vertical scrollbar */
  height: var(--scrollbar-width); /* horizontal scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-width);
  border: calc(var(--scrollbar-width) / 4) solid var(--page-background);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
  cursor: pointer;
}
/* Chrome, Edge, Safari */