<div [ngClass]="baseClass + '--header'">
  <span [ngClass]="itemBaseClass + '__name'">Nombre</span>
  <span *ngIf="!simpleHeader" [ngClass]="itemBaseClass + '__description'"
    >Estado del cielo</span
  >
  <span *ngIf="!simpleHeader" [ngClass]="itemBaseClass + '__temperature'"
    >Max / Min</span
  >
</div>

<ul [ngClass]="baseClass">
  <li
    [ngClass]="
      linkable ? itemBaseClass + ' ' + itemLinkBaseClass : itemBaseClass
    "
    *ngFor="let item of data"
  >
    <a
      [ngClass]="itemBaseClass + '__link'"
      *ngIf="linkable; else dataListTemplate"
      [routerLink]="['/province', item.CODPROV]"
    >
      <ng-container *ngTemplateOutlet="dataListTemplate"> </ng-container>
    </a>

    <ng-template #dataListTemplate>
      <span [ngClass]="itemBaseClass + '__name'">
        {{ item.NOMBRE_PROVINCIA }}</span
      >

      <!-- <span
        *ngIf="item | isCityModelModel"
        [ngClass]="itemBaseClass + '__description'"
      >
        <img
          [ngClass]="itemBaseClass + '__description__img'"
          [src]="'/assets/img/' + getStatus(item || undefined)"
          alt=""
        />
        {{ item.stateSky?.description }}</span
      > -->

      <!-- <span
        *ngIf="item | isCityModelModel"
        [ngClass]="itemBaseClass + '__temperature'"
        >{{ item.temperatures?.max }}ºC / {{ item.temperatures?.min }}ºC</span
      > -->
    </ng-template>

    <span
      *ngIf="handleClick"
      [ngClass]="itemBaseClass + '__delete'"
      (click)="handleClick.emit(item)"
    >
      <img
        [ngClass]="itemBaseClass + '__delete__img'"
        src="assets/img/X.svg"
        alt=""
      />
    </span>
  </li>
</ul>
