<div [ngClass]="baseClass + '--header'">
  <span [ngClass]="itemBaseClass + '__name'">Nombre</span>
  <span *ngIf="!simpleHeader" [ngClass]="itemBaseClass + '__description'"
    >Estado del cielo</span
  >
  <span *ngIf="!simpleHeader" [ngClass]="itemBaseClass + '__temperature'"
    >Max / Min</span
  >
</div>
<ul [ngClass]="baseClass">
  <li
    [ngClass]="
      item.code ? itemBaseClass + ' ' + itemLinkBaseClass : itemBaseClass
    "
    *ngFor="let item of data; index as i"
  >
    <a
      [ngClass]="itemBaseClass + '__link'"
      *ngIf="item.code; else sayHelloTemplate"
      [routerLink]="['/province', item.code]"
    >
      <ng-container *ngTemplateOutlet="sayHelloTemplate"> </ng-container>
    </a>

    <ng-template #sayHelloTemplate>
      <span [ngClass]="itemBaseClass + '__name'"> {{ item.name }}</span>

      <span *ngIf="item.stateSky" [ngClass]="itemBaseClass + '__description'">
        <img
          [ngClass]="itemBaseClass + '__description__img'"
          [src]="'/assets/img/' + getStatus(item || undefined)"
          alt=""
        />
        {{ item.stateSky?.description }}</span
      >

      <span
        *ngIf="item.temperatures"
        [ngClass]="itemBaseClass + '__temperature'"
        >{{ item.temperatures?.max }}ºC / {{ item.temperatures?.min }}ºC</span
      >
    </ng-template>

    <span
      *ngIf="withDelete"
      [ngClass]="itemBaseClass + '__delete'"
      (click)="delete(i)"
    >
      <img
        [ngClass]="itemBaseClass + '__delete__img'"
        src="assets/img/X.svg"
        alt=""
      />
    </span>
  </li>
</ul>
