<div [ngClass]="baseClass + '--header'">
  <span [ngClass]="itemBaseClass + '__name'">Nombre</span>
  <span *ngIf="!simpleHeader" [ngClass]="itemBaseClass + '__description'"
    >Estado del cielo</span
  >
  <span *ngIf="!simpleHeader" [ngClass]="itemBaseClass + '__temperature'"
    >Max / Min</span
  >
</div>

<ul>
  <li
    *ngFor="let item of data"
    [ngClass]="
      linkable ? itemBaseClass + ' ' + itemLinkBaseClass : itemBaseClass
    "
  >
    <ng-container *ngIf="item | isCityModelModel">
      <span [ngClass]="itemBaseClass + '__name'"> {{ item.name }}</span>

      <span
        *ngIf="item | isCityModelModel"
        [ngClass]="itemBaseClass + '__description'"
      >
        <img
          *ngIf="getStatus(item)"
          [ngClass]="itemBaseClass + '__description__img'"
          [src]="'/assets/img/' + getStatus(item)"
          alt=""
        />
        {{ item.stateSky?.description }}</span
      >

      <span
        *ngIf="item | isCityModelModel"
        [ngClass]="itemBaseClass + '__temperature'"
        >{{ item.temperatures?.max }}ºC / {{ item.temperatures?.min }}ºC</span
      >
    </ng-container>

    <ng-container *ngIf="item | isProvinceModel">
      <a
        [ngClass]="itemBaseClass + '__link'"
        [routerLink]="['/province', item.CODPROV]"
      >
        {{ item.NOMBRE_PROVINCIA }}
      </a>

      <span
        *ngIf="handleClick"
        [ngClass]="itemBaseClass + '__delete'"
        (click)="handleClick.emit(item)"
      >
        <img
          [ngClass]="itemBaseClass + '__delete__img'"
          src="assets/img/X.svg"
          alt=""
        />
      </span>
    </ng-container>
  </li>
</ul>
